.body{
  overflow: hidden;
}

.title{
  text-align: center;
  margin: 120px 0 0;

  font-family: $main;

  font-size: 36px;
}

.forms__container{
  width: 80%;
  margin: 200px auto;
  display: flex;
  align-items: flex-start;
  gap: 120px;
}

.btns{
  position: fixed;
  display: grid;
  gap: 120px;
}

.new-card{
  width: 250px;
  height: 75px;

  font-size: 24px;

  border: 2px solid $black;
  border-radius: .5em;
}

.create-command{
  width: 250px;
  height: 75px;

  font-size: 24px;

  color: $link;
  border: 2px solid $link;
  border-radius: .5em;
}

.forms{
  width: 100%;
  margin-left: 400px;
}

.forms__form{
  display: grid;
  row-gap: 120px;

  padding-bottom: 60px;

  border-bottom: 2px solid $black;
}

.forms__form + .forms__form{
  margin-top: 120px;
}

.form__label{
  font-family: $main;
  font-size: 24px;
}

.input__container{
  display: grid;
  grid-template-columns: max-content 1fr;
}

.form__input{
  margin-left: 1em;

  font-family: $main;
  font-size: 16px;
}

