$white : #FFF;
$grey--lighter : #F2F2F2;
$grey--light : #CBCBCB;
$grey : #7F7F7F;
$grey--dark : #595959;
$grey--darker : #343434;
$black : #000;
$link : #1193FF;
$error : #FF2D2D;
$success : #2FFF95;
$warning : #FFD12F;